* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

.AppTable table {
	border-collapse: unset;
}

.AppTable table h2 {
	color: rgb(34, 41, 83);
	font-size: large;
	font-weight: 900;
	overflow-wrap: anywhere;
}

.AppTable table h3 {
	color: rgb(34, 41, 83);
	font-weight: 500;
	font-size: medium;
	overflow-wrap: anywhere;
}

.ModalShow {
	box-sizing: border-box;
	position: fixed;
	top: 30%;
	left: 30%;
	width: 40%;
	height: 40%;
	padding: 4rem;
	z-index: 100;
	background-color: #f0e9e6;
	box-shadow: 10px 10px 10px black;
	transform: translateY(0);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.ModalHide {
	box-sizing: border-box;
	position: fixed;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	z-index: 100;
	background-color: #69488a;
	box-shadow: 1px 1px 1px black;
	transform: translateY(-100vh);
}

.Backdrop {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 90;
	background-color: rgba(0, 0, 0, 50%);
	box-shadow: 1px 1px 1px black;
}

.RootContainer {
	height: 100vh;
	display: flex;
	flex-flow: column;
	background-color: rgb(34, 41, 83);
	overflow: auto;
}

.Header {
	height: 4rem;
}

.Main {
	flex: 1;
	padding: 0 1rem 1rem 1rem;
}

.NavBar {
	background-color: #27436b;
}

.NavBar__brand {
	font-size: 1.3rem;
	font-weight: bold;
}

.NavBar__brand__logo {
	animation: NavBar-brand-logo-spin infinite 7s linear;
}

@keyframes NavBar-brand-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }

.Nav.navbar-nav > .nav-item > .dropdown-menu {
	background-color: #27436b;
}

.Nav.navbar-nav > .nav-link,  .Nav > .nav-item > .nav-link, .Nav.navbar-nav > .nav-item > .dropdown-menu > .dropdown-item {
    color: rgba(255,255,255);
}

.Nav.navbar-nav > .nav-item > .dropdown-menu > .dropdown-item:hover {
    background-color: #9eb3dd;
}

.Footer {
	box-sizing: border-box;
	height: 1.5rem;
	color: white;
	display: flex;
	align-items: center;
	padding: 1rem;
}

.Footer h5 {
	font-size: 0.83em;
	font-weight: normal;
}

.ABComparison {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.ABComparison__chart {
	box-sizing: border-box;
	background-color: #9eb3dd;
	display: flex;
	align-items: center;
	margin: 15px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 20px 20px 10px black;
}

.ABComparison__table {
	box-sizing: border-box;
	background-color: #9eb3dd;
	display: flex;
	margin: 15px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 20px 20px 10px black;
}

.ABComparison__table > table {
	width: 100%;
	height: 100%;
}

.ABComparison__table th {
	text-align: center;
	padding-bottom: 15px;
}

.ABComparison__table td {
	vertical-align: middle;
	padding: 0 15px;
	text-align: right;
	width: 50%;
}

.ABComparison__table tbody td:nth-child(1) {
	text-align: center;
}

.ABComparison__table tbody tr:nth-of-type(odd) {
	background-color: rgba(34, 41, 83, 0.8);
}

.ABComparison__table tbody tr:nth-of-type(even) {
	background-color: rgba(34, 41, 83, 0.7);
}

.ABComparison__table tbody tr {
	font-size: large;
	font-weight: 700;
}

.ABComparison__table tbody tr:nth-child(1) {
	color: rgb(18, 159, 194);
}

.ABComparison__table tbody tr:nth-child(2) {
	color: rgb(16, 194, 37);
}

.ABComparison__table tbody tr:nth-child(3) {
	color: rgb(231, 70, 49);
}

.LastXDays {
	height: 100%;
	display: flex;
}

.LastXDays__chart {
	flex: 1;
	box-sizing: border-box;
	background-color: #9eb3dd;
	display: flex;
	align-items: center;
	margin: 15px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 20px 20px 10px black;
}

.LastXDays__table {
	flex: 1;
	box-sizing: border-box;
	background-color: #9eb3dd;
	margin: 15px;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 20px 20px 10px black;
}

.LastXDays__table table {
	width: 100%;
	height: 100%;
}

.LastXDays__table th {
	text-align: center;
	padding-bottom: 15px;
}

.LastXDays__table thead > tr:nth-child(2) th {
	padding-bottom: 5px;
}

.LastXDays__table td {
	padding: 0 1%;
	text-align: right;
}

.LastXDays__table td:nth-child(1) {
	text-align: center;
	font-size: medium;
	color: white;
	width: 34%;
}

.LastXDays__table tbody tr:nth-of-type(odd) {
	background-color: rgba(34, 41, 83, 0.8);
}

.LastXDays__table tbody tr:nth-of-type(even) {
	background-color: rgba(34, 41, 83, 0.7);
}

.LastXDays__table tbody td {
	font-size: large;
	font-weight: 700;
}

.LastXDays__table tbody td:nth-child(2) {
	width: 22%;
	color: rgb(18, 159, 194);
}

.LastXDays__table tbody td:nth-child(3) {
	width: 22%;
	color: rgb(16, 194, 37);
}

.LastXDays__table tbody td:nth-child(4) {
	width: 22%;
	color: rgb(231, 70, 49);
}

.About {
	color: white;
}

@media (max-width: 700px) {
	.ModalShow {
		top: 30%;
		left: 10%;
		width: 80%;
		padding: 1rem;
	}

	.ABComparison {
		display: flex;
		flex-direction: column;
	}

	.ABComparison__chart {
		min-height: 300px;
	}

	.LastXDays {
		display: flex;
		flex-direction: column;
	}

	.LastXDays__chart {
		min-height: 400px;
	}

	.LastXDays__table td {
		padding: 0 2px;
	}
}
